.infoWrap{    
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.deleteAll{
    color: var(--danger-font-color);
    border: none;
    background-color: unset;
    font-weight:bold;
    cursor: pointer;
}

.deleteAll:hover{
    color: red;
}